.layui-nav .layui-nav-item a{color: #000;}
.fly-nav{margin-left:220px}
.fly-header{border-bottom:none;background-color: #fff;}
/* .welcome-content{margin-top: 20px;} */
.layui-nav .layui-nav-item a:hover, .layui-nav .layui-this a{color: #000;}
.fly-logo{top: 15px;left:0px;}
.fly-footer{padding-bottom: 20px;background-color: #000;}
.layui-text{font-size:16px;margin: 10px 5px;}
.fly-filter{padding:15px 0px 0px 0px;border-bottom: none;}
.home-more *{padding: 0 60px;}
